
<section class="form-complex" id="edit-item">
  <h1>Editing Listing</h1>
  <form action="/items/<%= @item.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <div  class="form-partitions">
    <div class="row" id="name-row">    
      <div>
        <label>Item Name</label>
      </div>
      <div>
        <input type="text" name="name" value="<%= @item.name %>" class="text-field" id="name">
      </div>
    </div>

    <div class="row" id="price-row">
      <div>
        <label>Item Price</label>
      </div>
      <div>
        <input type="text" name="price" value="<%= @item.price %>" class="text-field" id="price">
      </div>
    </div>

    <div class="row" id="stock-row">
      <div>
        <label>Item Stock</label>
      </div>
      <div>
        <input type="integer" name="stock" value="<%= @item.stock %>" class="text-field" id="stock">
      </div>
    </div>

    <div class="row" id="update-listing">
      <input type="submit" value="Update Listing" class="button" >
    </div>
  <div>
    <div class="hr" id="horizontal-line-login"></div>
    <div class="row" id="cancel">
    <a href="/items/<%= @item.id %>"><input type="button" value="Cancel" class="button" id="cancel"></a>
    </div>
  <div>
  </div>
  </form>
</section>

