
<h1><%= @item.save ? 'Editing Listing' : 'New Listing' %></h1>
<form action='<%= @item.save ? "/items/#{@item.id}" : "/items" %>' method="post">
  <%= '<input type="hidden" id="hidden" name="_method" value="patch">' if @item.save %>
  <div  class="form-partitions">

    <div class="row" id="name-row">    
      <div>
        <label>Item Name</label>
      </div>
      <div>
        <input type="text" name="name" value="<%= @item.name if @item.save %>" class="text-field" id="name">
      </div>
    </div>

    <div class="row" id="price-row">
      <div>
        <label>Item Price</label>
      </div>
      <div>
        <input type="text" name="price" value="<%= @item.price if @item.save %>" class="text-field" id="price">
      </div>
    </div>

    <div class="row" id="stock-row">
      <div>
        <label>Item Stock</label>
      </div>
      <div>
        <input type="integer" name="stock" value="<%= @item.stock if @item.save %>" class="text-field" id="stock">
      </div>
    </div>

    <div class="row" id="<%= @item.save ? 'update-listing' : 'create-listing' %>">
      <input type="submit" value="<%= @item.save ? 'Update Listing' : 'Create Listing' %>" class="button" >
    </div>

    <div>
      <div class="hr" id="horizontal-line-login"></div>
      <div class="row" id="cancel">
        <a href='<%= @item.save ? "/items/#{@item.id}" : "/users/#{current_user.slug}" %>' ><input type="button" value="Cancel" class="button" id="cancel"></a>
      </div>
    </div>
  </dov>
</form>





