<h1>All My Listings</h1>

<section class= "panel">
</section>


<section class="boxes" id="user-listings">
  <% @user.listings.each do |item| %>
    <div class="item-box" id="sessions-listings-item-box">
      <h1><%= item.name %></h1>
      <span><%= item.show_price %></span>
      <span>Stock: <%= item.stock %></span> 
      <a href="/items/<%= item.id %>/edit" class="button" id="edit-listing">Edit Listing</a><div class="hr" id="horizontal-line-login"></div>
      <form action="/items/<%= item.id %>" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input type="submit" value="Delete" class="button" id="delete">
      </form>
    </div> 
  <% end %>
</section>

<section class="table" id="listings-table">
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      <% @user.listings.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.show_price %></td>
          <td><%= item.stock %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<span><a href="/users/<%= @user.slug %>">Back to account</a></span>