

<div class="section" id="listings">

<h1>My Listings</h1>

<% if @user.single_user_listings == nil  %>

 <%= puts "#{You currently have no listings}" %>


<% else %>
    
  <% @user.single_user_listings.each do |item| %>
    <% if item.status == "listing" %>
      <a href="/items/<%= item.id %>"> <%= item.name %> <br> $<%= item.show_price %></a><br>
    <% end %>
  <% end %>


  <% end %>
</div>


<div class="section" id="new_listing">
<a href="/items/new"><input type="button" value="Create New Listing"></a>
</div>


<div class="section" id="purchases">
<h1>Purchases</h1>
<% @user.items.each do |item| %>
  <% if item.status == "purchased" %>
    <%= item.name %><br>$<%= item.show_price %><br>Quantity: <%= item.quantity %><br>
  <% end %>
<% end %>
</div>


<div class="section" id="funds">
<h1>Funds: <%= @user.show_funds %></h1>
</div>