<%= erb :'partials/error' %>
<section class="boxes" id="carts-show">
  <% if @cart.items.empty? %>
    <h3>Your cart is currently empty</h3>
  <% else %>
    <% @uniq_items.each do |item| %>
      <div class="item-box" id="carts-item-box"> 
        <%= item.name %></p><br>
        <%= item.show_price %><br>
        <form action="/carts/<%= item.id %>" method="post">
          <input type="hidden" name="_method" value="patch">
          Quantity: <input type="integer" name="quantity" value="<%= @user.cart.items.select {|i| i.name == item.name}.count %>">
          <input type="submit" value="Update">
        </form>
        <form action="/carts/<%= item.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete Item">
        </form>
      </div>
    <% end %>
  <% end %>

  <div class="placeorder-box" id="placeorder">
    <% unless @cart.items.empty? %>
      <h2>Funds: <%= @cart.user.show_funds %></h2>
      <h2>Order Total: $<%= @cart.total %></h2>
      <form action="/placeorder/<%= @cart.id %>" method="post">
        <input type="submit" value="Place Order">
      </form>
    <% end %>
  </div>
</section>
