<%= erb :'partials/error' %>
<section class="boxes" id="carts-show">
  <% if @cart.items.empty? %>
    <h3>Your cart is currently empty</h3>
  <% else %>
    <% @uniq_items.each do |item| %>
      <div class="item-box" id="carts-item-box"> 
        <h1><%= item.name %></h1>
        <span><%= item.show_price %></span>
        <form action="/carts/<%= item.id %>" method="post">
          <input type="hidden" name="_method" value="patch">
          Quantity: <input type="integer" class="text-field" name="quantity" value="<%= @user.cart.items.select {|i| i.name == item.name}.count %>">
          <input type="submit" class="button" value="Update">
        </form>
        <form action="/carts/<%= item.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" class="buttons" value="Delete Item">
        </form>
      </div>
    <% end %>
  <% end %>
  
  <% unless @cart.items.empty? %>
    <div class="placeorder-box" id="placeorder">
      <h2>Funds: <%= @cart.user.show_funds %></h2>
      <h2>Order Total: $<%= @cart.total %></h2>
      <form action="/placeorder/<%= @cart.id %>" method="post">
        <input type="submit" value="Place Order">
      </form>
    </div>
  <% end %>
</section>

