<%= erb :'partials/error' %>
<h1>Listings</h1>
<section class="boxes" id="items-index">
  <% @items.each do |item| %>
    <% if item.user != current_user %>
      <div class="item-box" id="items-index-item-box">
        <div class="item-title">
          <h1><a href="/items/<%= item.id %>"><%= item.name %></a></h1>
        </div>
        <span><%= item.show_price %><br></span>
        <span>Seller: <%= item.user.username %><br></span>
        <span>Stock: <%= item.stock %></span>
      </div>
    <% end %>
  <% end %>
</section>