<div class="item_container">
  <h1><%= @item.name %></h1><br>
  $<%= @item.show_price %><br>
  Stock: <%= @item.stock %>
</div>

<div class="transaction_box" id="buy-or-check">
  <a href="/add_item/<%= @item.id %>" id="add_item_link">Add to Cart</a><br>
  <a href="/buy/<%= @item.id %>" id="buy_link">Buy Now</a>
</div>