
<p>Listing</p>
<h2><%= @item.name %></h2>
$<%= @item.show_price %><br>
Stock: <%= @item.stock %><br><br>

<a href="/items/<%= @item.id %>/edit" id="edit_listing"><input type="button" value="Edit Listing"></a>

<form action="/items/<%= @item.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete" id="delete_button">
</form>

