
<h1>Listings</h1>
<% @items.each do |item| %>
  <% if item.status == "listing" %>
    <% if item.user = current_user %>
      <%= item.name %><br>$ <%= item.price %><br>Seller: <%= item.User.username %><bt>Stock: <%= item.stock %>
    <% else %>
      <a href="items/<%= item.id %>/buy"><%= item.name %><br>$ <%= item.price %><br>Seller: <%= item.User.username %><br>Stock: <%= item.stock %></a>   
    <% end %>
  <% end %>
<% end %>